*{
    margin: 0%;
    font-family:'Arial';
}

nav{
    background-color: #174C4F;
    height: 100px;
    width: 100%;
}

.img-logo{
    height: 90px;
    width: 165px;
    float: left;
}

.titulo{
    display: inline-block;
    color: #ffff;
    padding: 10px 30px;
    text-decoration: none;
}
.titulo:hover{
    color:aquamarine;
}

body{
    background-color: #F2F1EF;
}

.portada{
    color:black;
}

.arenales1{
    margin-right: 35px;
}

.santamar1{
    margin-left: 35px;
}

.nota1{
    margin-right: 35px;
}

.nota2{
    margin-left: 35px;
}
footer{
    background-color: #174C4F;
}

.contacto{
    color: #ffff;
}
